.vs/
packages/
TMS.Server/App_Data/
TMS.Server/Areas/
TMS.Server/Content/
TMS.Server/bin/
TMS.Server/fonts/
TMS.Server/Migrations/
TMS.Server/obj/
TMS.Server/Properties/
TMS.Server/Providers/
TMS.Server/Results/
TMS.Server/Scripts/
TMS.Server/Views/
*.dll
*.pdb
*.suo
*.png
*.cache
*.user
*.exe
*.sln
*.ico
*.csproj
*.config
*.asax
*.asax.cs
